<header>
  <nav>

    <div class = "nav-section">
      <img class = "logo" src = "../../images/Quizeridoo_logo.png">
      <a class = "nav-link" href='/publicQuizzes'>Public Quizzes</a>
      <a class = "nav-link" href='/myQuizzes'>My Quizzes</a>
      <a class = "nav-link" href='/createQuiz'>Create Quiz</a>
      <a class = "nav-link" href=#>Logout</a>
    </div>
    <div class = "nav-section">
      <a class = "nav-link" href='/register'>Register</a>
      <a class = "nav-link" href='/login'>Login</a>
    </div>
  </nav>
</header>
