<header>
  <nav>
    <% if (user) { %>
    <div class = "nav-section">
      <a href='/'><img class = "logo" src = "../../images/Quizeridoo_logo.png"></a>

      <a class = "nav-link" href='/publicQuizzes'>Public Quizzes</a>
      <a class = "nav-link" href='/myQuizzes'>My Quizzes</a>
      <a class = "nav-link" href='/createQuiz'>Create Quiz</a>
    </div>
    <div class ="nav-section">
      <p class = "nav-field">Logged in as <%=user.username%></p>
      <form action="/users/logout" method="POST">
      <button  type="submit" class="danger-button">Logout</a>
    </form>
  </div>

  <% } else { %>
    <div class = "nav-section">
      <img class = "logo" src = "../../images/Quizeridoo_logo.png">
      <a class = "nav-link" href='/users/register'>Register</a>
      <a class = "nav-link" href='/users/login'>Login</a>
    </div>

    <% } %>
  </nav>
</header>
