<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Create Quiz</title>

  <!-- Include global styles-->
  <%- include('partials/_global_styling') %>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/createQuiz.js"></script>


  <link rel="stylesheet" href="/styles/createQuiz.css" />
</head>
<body>
  <%- include('partials/_header') %>
  <!-- middle -->
  <main>
    <h1 class="text-centered">Create Quiz</h1>
    <form id="new-question-form"  action="/createQuiz" method="POST">
      <header class="create-quiz-header">
        <h1 >Quiz Name</h1>
        <input class="quiz-name-input" name="quiz-title" required>
      </header>
      <!-- <div class="question-card" name="question-card">
        <div class="question-container">
          <label>Question 1:</label>
          <textarea></textarea>
          <br>
        </div>
        <div class="answer-container">
          <label class = "answer-text">Answer 1:</label>
          <input class = "answer-input-field">
          <input class="answer-checkbox" type = "radio">
        </div>
        <div class="answer-container">
          <label class = "answer-text">Answer 2:</label>
          <input class = "answer-input-field">
          <input class="answer-checkbox" type = "radio">
        </div>
        <div class="answer-container">
          <label class = "answer-text">Answer 3:</label>
          <input class = "answer-input-field">
          <input class="answer-checkbox" type = "radio">
        </div>
        <div class="answer-container">
          <label class = "answer-text">Answer 4:</label>
          <input class = "answer-input-field">
          <input class="answer-checkbox" type = "radio">
        </div>
        <button class="danger-button delete-question-button">Delete question</button>
      </div> -->
      <section class="new-question-container">

      </section>
      <footer class="create-quiz-footer">
        <button class="add-button submit-button">Add question</button>
        <button class="submit-button">submit quiz</button>
      </footer>
    </form>
  </main>

  <!-- footer -->
  <div>

  </div>
</body>
</html>
