<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Quiz</title>
  <!-- Include global styles-->
  <%- include('partials/_global_styling') %>

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/createQuiz.js"></script>


    <link rel="stylesheet" href="/styles/createQuiz.css" />
</head>

<body>
  <%- include('partials/_header') %>
    <!-- middle -->
    <main>
      <section class="create-quiz">
        <h1 class="text-centered">Create Quiz</h1>
        <form id="new-question-form" action="/createQuiz" method="POST">
          <header class="create-quiz-header">
            <div>
              <h1>Quiz Name</h1>
              <div>
                <div class="input">
                  <textarea class="quiz-name-input" name="quiz-title" required></textarea>
                  <div class="public-inline-field">
                    <label>public</label>
                    <input name="public" class="public-checkbox" type="checkbox" />
                  </div>
                </div>
          </header>
          <section class="new-question-container">

          </section>
          <footer class="create-quiz-footer">
            <button class="add-button submit-button">Add Question</button>
            <button class="submit-button">Submit Quiz</button>
          </footer>
        </form>
      </section>
    </main>
    <%- include('partials/_bootstrap') %>
</body>

</html>
