<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Include global styles-->
  <%- include('partials/_global_styling') %>
  <link rel="stylesheet" href="/styles/error.css" />
    <script src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <main>
      <h1 class="error-title">Error</h1>
      <h1 class="error-message"> <%= error %> </h1>
    </main>
</body>
<%- include('partials/_bootstrap') %>

</html>
