<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- Include global styles-->
  <%- include('partials/_global_styling') %>

    <script src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <main>
      <section class="create-quiz">
        <h1 class="text-centered">Welcome!</h1>
        <p class="centered-text">Quizzereedoo is a quiz creation site where you can share your quizzes online with others!
        </p>
        <p class="centered-text">The app was designed for your browser to allow you to take and share quizzes with your friends!
          Whether it be practicing for an exam or just having fun creating simple tests for fun!
        </p>
        <p class="centered-text">We hope that you enjoy
        </p>
      </section>

    </main>
</body>
<%- include('partials/_bootstrap') %>
</html>
