<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  
  <script src="/vendor/jquery-3.0.0.js"></script>
</head>
<body>
  <form action="GET"" method="/login">
    <h1>Login</h1>
    <lable for="email">Email address</lable><br/>
    <input type="email" id="email" name="email" /><br/>
    <lable for="password">Password</lable><br/>
    <input type="password" id="password" name="password"/><br/><br/>
    <input type="submit" class="btn btn-primary" value="login"><br/>
  </form>
</body>
</html>