<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>



  <!-- Include global styles-->
  <%- include('partials/_global_styling') %>

  <script src="/vendor/jquery-3.0.0.js"></script>
</head>
<body>
  <%- include('partials/_header') %>
  <!-- main -->
  <main>
    <form class="form-centered" for = "login" action="/users/login" method="POST">
      <h1> Login </h1>
      <div class="form-field">
        <label for = "login" class = "form-text-field">Email:</label>
        <input for = "login" name="email" type="email" class ="form-input-field" placeholder="example@gmail.com">
      </div>
      <div class="form-field">
        <label for = "login" class = "form-text-field">Password:</label>
        <input for = "login" name="password" type="password" class="form-input-field" placeholder="password">
      </div>
      <button type="submit" class="form-button submit-button">Login</button>
    </form>
  </main>
  <!-- footer -->
  <div>
  </div>
</body>
</html>
