<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>

  <!-- Include global styles-->
  <%- include('partials/_global_styling') %>

  <script defer src="/scripts/app.js"></script>
</head>
<body>
  <%- include('partials/_header') %>
  <!-- middle -->
  <main>
    <form for = "register" class="form-centered" action="/login" method="POST">
      <h1>Register</h1>
      <div class="form-field">
        <label for = "register" class = "form-text-field">Email:</label>
        <input for = "register" type="email" class="form-input-field"  placeholder="example@gmail.com">
      </div>
      <div class="form-field">
        <label for = "register" class = "form-text-field">Password:</label>
        <input for = "register" type="password" class="form-input-field" placeholder="password">
      </div>
      <div class="form-field">
        <label for = "register" class = "form-text-field">Confirm Password:</label>
        <input for = "register" type="password" class="form-input-field" placeholder="password">
      </div>
      <button type="submit" class="form-button">Login</button>
    </form>
  </main>

  <!-- footer -->
  <div>

  </div>
</body>
</html>
