@use 'variables';

#new-question-form > header > div > div > div > textarea {
  margin-top: 0.5em;
}

header div h1 {
  color: variables.$myWhite;
  width: 64vw;
  background-color: variables.$myBlueDark;
  text-align: center;
  margin: auto;
  background-image: url('../images/natural-paper.png');
}

#new-question-form > header > div > div > div {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.input-public p {
  padding-left: 1em;

}

.quiz-name-input {

  height: 40px;
  width: 40vw;
  margin: 1em;

}

.create-quiz-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1em;
  padding-bottom: 2em;
}

article.question-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.question-card textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 50vw ;
}

.answer-input-field{
  padding: 0 1em;
  width: 25em;
  height: 1em;
}

.answer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delete-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 2em;
}

.answer-checkbox{
  height: .8em;
  width: .8em;
}
