@use 'variables';

.error-title{
  width: 100%;
  height: 1.5em;
  text-align: center;
  background-color: variables.$myBlue;
  background-image: url(variables.$paperBackground);
  color: variables.$myWhite;
  padding: .25em 0;
  margin: 0;
}

.error-message{
  width: 100%;
  height: 2em;
  text-align: center;
  background-color: variables.$myTransWhite;
  background-image: url(variables.$paperBackground);
  padding: .5em 0;
}
