$myBlue: #18a3dd;
$myYellow:#fcc045;
$myRed: #da5252;
$myGreen: #21b2bb;
$myBrown: #100d0b;
$myGrey: #666;
$myBlueDark: #012d3d;
$myFontSize: 22px;
$myBackground: grey;
$myButton: $myGreen;
$myButtonHover: $myBlue;
$myButtonBottom: $myRed;


.form-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inline-field{
  display: flex;
  align-items: center;
  gap: 0.25em
}
// checkbox
.form-checkbox{
  height: 1em;
  width: 1em;
}

.form-field{
  margin-top: 1em;
}

// .form-text-field{
//   display: inline-block;
//   width: 10em;
//   text-align: center;
// }

.form-input-field{
  outline: 2px solid $myBlueDark;
  width: 20em;
}

.form-button{
  margin-top: 2em;
}

.submit-button {
  background-color: $myButton;
  // border: 1px solid black;

  border: none;
  color: #fff;
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 550;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.submit-button:hover {
  background-color: $myBlue;
  box-shadow: 0px 15px 20px $myButtonBottom;
  color: #fff;
  transform: translateY(-7px);
}

.danger-button{
  background-color: $myButton;
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  // border: 1px solid black;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.danger-button:hover{
  background-color: $myButtonHover;
  box-shadow: 0px 15px 20px $myButtonBottom;
  color: #fff;
  transform: translateY(-7px);
}

