@use 'variables';

body {
  background-image: url(variables.$mainBackground);
  background-size: 180%;
  background-position:  97% 13%;
  background-attachment: fixed;
  font-size: variables.$myFontSize;
  font-family: 'Belanosima', sans-serif;
}

main{
  // Add padding to seperate nav from rest of page, should change if size of nav changes
  padding-top: 140px;
}

.list-item{
  display: flex;
  border-bottom: 1.5px solid variables.$myGrey;
  width: 90%;
  margin: auto;
}

.list-item-text{
  width: 25%;
  text-align: center;
}

.list-item-main {
  background-color: variables.$myBlueDark;
  background-image: url(variables.$paperBackground);
  width: 100%;
  text-align: center;
  color: variables.$myWhite;
  box-sizing: variables.$myGreen;
  padding: 0.25em;
  margin-top: 0em;
}

p.centered-text{
  text-align: center;
  padding: 0 2em 2em;
}

h1.text-centered {
  color: variables.$myWhite;
  width: 70vw;
  background-color: variables.$myBlue;
  text-align: center;
  padding: 0.3em 0 0.3em 0;
  background-image: url(variables.$paperBackground);
  border-bottom: 2px, variables.$myRed;

}

section.public-quizzes,
section.my-quizzes,
section.favourite-quizzes {
  background-image: url(variables.$paperBackground);
  background-color:rgba(255,255,255,0.77);
  width:  70vw;
  margin: auto;
  box-shadow: 17px 15px 5px RGBA(61,76,82,0.6);

}

section.create-quiz {
  background-image: url(variables.$paperBackground);
  background-color:rgba(255,255,255,0.77);
  width:  70vw;
  margin: auto;
  box-shadow: 17px 15px 5px RGBA(61,76,82,0.6);

}

#take-quiz {
  background-color: variables.$myBlue;
  width: 70vw;
  height: 90px;
  background-image: url(variables.$paperBackground);
  padding-top: 1em;
  margin: auto;
  color: #fff;
}

section.favourite-quizzes {
  margin-top: 1em;
}

p.list-item-text a {
  color: variables.$myBlueDark;
}

p.list-item-text a:hover {
 color: variables.$myRed;
}


button, html [type="button"], [type="reset"], [type="submit"] {
  background-color: rgba(0,0,0,0);
  border-style: none;
  color: variables.$myBlueDark;
}

i.fa-solid.fa-copy:hover {
  color: variables.$myRed;
}

.clipboard-button .list-item-text {
  margin: 0;
  padding: 0;
  block-size: 0;
}

