$myBlue: #18a3dd;
$myYellow:#fcc045;
$myRed: #da5252;
$myGreen: #21b2bb;
$myBrown: #100d0b;
$myGrey: #666;
$myBlueDark: #012d3d;

$myBackground: #fff;
$myFontSize: 22px;


body {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  background-image: url('../images/lighthouseflip.png');
  background-size: 180%;
  background-position:  97% 13%;
  // background-size:cover;
  background-attachment: fixed;
  font-size: $myFontSize;
  font-family: 'Belanosima', sans-serif;
  // min-height: 100vh;
}

main{
  // Add padding to seperate nav from rest of page, should change if size of nav changes
  // background-color:#012d3d;
  padding-top: 110px;
  padding-bottom: 100px;
}

.list-item{
  display: flex;
  border-bottom: 1.5px solid $myGrey;
  width: 90%;
  margin: auto;
}

.list-item-text{
  width: 25%;
  text-align: center;
}

.list-item-main {
  background-color: $myBlueDark;
  background-image: url('../images/natural-paper.png');
  width: 100%;
  text-align: center;
  color: #fff;
  box-sizing: $myGreen;
  padding: 0.25em;
  margin: 0.25;
  margin-top: 0;
}


h1.text-centered {
  color: #fff;
  width: 70vw;
  background-color: $myBlue;
  text-align: center;
  padding: 0.3em 0 0.3em 0;
  background-image: url('../images/natural-paper.png');
  border-bottom: 2px, $myRed;

}

#title {
  margin: 0.25;
  box-shadow: 10px, $myBlueDark;
}


section.public-quizzes,
section.my-quizzes,
section.favourite-quizzes {
  // border-style: solid;
  background-image: url('../images/natural-paper.png');
  background-color:rgba(255,255,255,0.77);
  width:  70vw;
  padding: 0.5em;
  margin-left: 24%;
  box-shadow: 17px 15px 5px RGBA(61,76,82,0.6);
  // margin-bottom: 2em;
}

section.create-quiz {
  // border-style: solid;
  background-image: url('../images/natural-paper.png');
  background-color:rgba(255,255,255,0.77);
  width:  70vw;
  padding: 0;
  margin-left: 24%;
  box-shadow: 17px 15px 5px RGBA(61,76,82,0.6);
  // margin-bottom: 2em;
}

section.favourite-quizzes {
  margin-top: 1em;
}

p.list-item-text a {
  color: $myBlueDark;
}

p.list-item-text a:hover {
 color: $myRed;
}


button, html [type="button"], [type="reset"], [type="submit"] {
  background-color: rgba(0,0,0,0);
  border-style: none;
  color: $myBlueDark;
}

i.fa-solid.fa-copy:hover {
  color: $myRed;
}

.clipboard-button .list-item-text {
  margin: 0;
  padding: 0;
  block-size: 0;
}

