body {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  font-family: 'Belanosima', sans-serif;
  min-height: 100vh;

  background: #fcf7ff;
}

main{
  // Add padding to seperate nav from rest of page, should change if size of nav changes
  padding-top: 100px;
}

