$myBlue: #138fc1;
$myYellow: #fcc045;
$myRed: #da5252;
$myGreen: #21b2bb;
$myBrown: #100d0b;
$myGrey: #666;
$myBlueDark: #012d3d;
$myFontSize: 22px;


nav {
  height: 100px;
  background-color: $myBlueDark;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid $myRed;
  padding: 2em;
  position: fixed;
}

.nav-link{
  text-decoration: none;
  color: #fff;
  margin: 1em;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
}

.nav-link:hover{
  text-decoration: none;
  color: $myYellow;
}

.nav-field{
  color: #fff;
  margin: 1em;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}

.nav-section{
  display: flex;
  align-items: center;
}

.logout-button{
  background: transparent;
  border: 1px $myBlue;
}

.logo{
  height: 80px;
  width: auto;
  margin: 1em;
}
