nav{
  height: 100px;
  background-color: #071013;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid #30c5ff;
  padding: 2em;
  position: fixed;
}

.nav-link{
  text-decoration: none;
  color: white;
  margin: 1em;
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
}

.nav-link:hover{
  text-decoration: none;
  color: grey;
}

.nav-section{
  display: flex;
  align-items: center;
}

.logout-button{
  background: transparent;
  border: 1px solid white;
}

.logo{
  height: 80px;
  width: auto;
  margin: 1em;
}
