@use 'variables';


.popup-container{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(22,22,22,0.5);

}

.popup-modal{
  width: 20em;
  height: 12.5em;
  background-color: rgba(255,255,255,0.9);
  background-image: url('../images/natural-paper.png');
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}

.popup-modal-header{
  background-color: variables.$myBlue;
  color: white;
  background-image: url('../images/natural-paper.png');
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-modal-body{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 40%;
}

.popup-modal-footer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  width: 30%;
}
