@use 'variables';

.submit-card {
  width: 100%;
  background-color: variables.$myTransWhite;
  background-image: url(variables.$paperBackground);
  width: 70vw;
  margin-top: 0;
  padding: 0 2em 2em 2em;
  box-shadow: 17px 15px 5px RGBA(61,76,82,0.8);
}

.share-button {
  border-radius: 50%;
  background-color: variables.$myBlue;
  margin-top: 30px;
  width: 40px;
  height: 40px;
}


input[type=checkbox]
{
  width: 1em;
  height: 1em;
}
