.submit-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fav-icon{
  color: #30c5ff;
}

.fav-icon:hover:before {
  font-family: FontAwesome;
  content: "\f005";
}

.favourite-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.submit-button-myQuiz {
  margin-left: 75px;
}
.icon-container {
  display: flex;
}

.share-button {
  border-radius: 50%;
  background-color: #21b2bb;
  margin-top: 30px;
  width: 40px;
  height: 40px;
}
