

textarea {
  resize: none;
  height: 50px;
  width: 400px;
}
//

.create-quiz-header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.quiz-name-input{
  width: 25%;
}

.create-quiz-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1em;
}

.question-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid black;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url(../images/natural-paper.png);
  width: 70vw;
  margin: auto;
}

.question-container{
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

.questionButton {
  display: flex;
  justify-content: center;
}

.answer-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-text-field{
  padding: 0 1em;
  width: 50vw;
}

.answer-checkbox{
  width: 1em;
  height: 1em;
  margin-left: 1em;
}


.delete-question-button{
  margin: 1em;
}

.btnTwo {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 2px;
  background : #30c5ff;
  left : -250px;
  transition : .3s;
}
.btnText {
  color : white;
  transition : .3s;
}

.btnTwo:hover{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.button:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.button:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}
