textarea {
  resize: none;
  height: 50px;
  width: 400px;
}

.create-quiz-header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.quiz-name-input{
  width: 25%;
}

.create-quiz-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 1em;
}

.question-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid black;
}

.question-container{
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid black;
}

.questionButton {
  display: flex;
  justify-content: center;
}

.answer-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-text-field{
  padding: 0 1em;
  width: 40em;
  height: 1em;
}

.answer-checkbox{
  width: 1em;
  height: 1em;
  margin-left: 1em;
}

.delete-question-button{
  margin: 1em;
}
