$myWhite: #fff;
$myBlue: #18a3dd;
$myYellow:#fcc045;
$myRed: #da5252;
$myGreen: #21b2bb;
$myBrown: #100d0b;
$myGrey: #666;
$myBlueDark: #012d3d;
$myFontSize: 22px;
$myBackground: grey;

// background textures
$paperBackground: "../images/natural-paper.png";
$mainBackground: '../images/lighthouseflip.png';
